{% extends 'base.html' %}

{% block title %}Verification Email Sent - Parenting Wisdom{% endblock %}

{% block content %}
<main>
    <article class="post-content">
        <section id="contact-box" class="contact-content">
            <div class="contact-container">
                <h2>Verification Email Sent</h2>
                <p>If your email address is registered, a verification email has been sent to you. Please check your inbox.</p>
            </div>
        </section>
    </article>
</main>
{% endblock %}
